[submodule "lib/HarmonyX"]
	path = lib/HarmonyX
	url = git@github.com:BepInEx/HarmonyX.git
[submodule "lib/Il2CppAssemblyUnhollower"]
	path = lib/Il2CppAssemblyUnhollower
	url = git@github.com:BepInEx/Il2CppAssemblyUnhollower.git
[submodule "lib/mcs"]
	path = lib/mcs
	url = git@github.com:sinai-dev/mcs-unity.git
