<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarmonyX" version="2.5.2" targetFramework="net35" />
  <package id="Iced" version="1.15.0" targetFramework="net472" />
  <package id="Il2CppAssemblyUnhollower.BaseLib" version="0.4.22" targetFramework="net472" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.2" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="Samboy063.Tomlet" version="3.1.3" targetFramework="net472" />
  <package id="UniverseLib" version="1.2.2" targetFramework="net35" />
  <package id="UniverseLib.Analyzers" version="1.0.3" targetFramework="net35" developmentDependency="true" />
</packages>